
<div class="row border- bottom mb-2 pb-2">
    <div class="col-6">

        <p-dropdown [options]="groups" [(ngModel)]="selectedGroup" (onChange)="onSelectedGroup($event)"
            optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Ing. Group">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedGroup">

                    <div>{{selectedGroup.name}}</div>
                </div>
            </ng-template>
            <ng-template let-group pTemplate="item">
                <div class="country-item">

                    <div>{{group.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <p-listbox [styleClass]="'w-100'" [options]="groupedIngredients" [group]="true" [(ngModel)]="selectedIngredients"
            [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"
            [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">

                    <span>{{group.label}}</span>
                </div>
            </ng-template>
        </p-listbox>
    </div>
    <div class="col-6">
        <app-box [list]="selectedIngredients" [border]="true"></app-box>
    </div>
</div>
