<div class="row mt-4">
    <div class="col-9">
        <p-card [header]="post?.title!">

            <div class="row">
                <div class="col-12" [innerHtml]="post?.text">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-box [list]="ingredients"></app-box>
                </div>
            </div>
            
        </p-card>
        <div *ngIf="!editorRecipeVisible">
            <div class="row mb-2 mt-2">
                <div class="col-12 text-end">
                    <p-button label="Create Recipe" icon="pi pi-file" iconPos="left" (onClick)="this.newRecipe()">
                    </p-button>
                </div>
            </div>
        </div>
        <div *ngIf="editorRecipeVisible">
            <app-recipe-create [ingredients]="post.ingredients" [post]="post"></app-recipe-create>

        </div>
        <div>
            <app-recipe-view [post]="post"></app-recipe-view>
        </div>
    </div>
    <div class="col-3 border-start">
        ### Lastestbest recipe ####
    </div>
</div>
<!-- List of Recipe -->