<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/image/appwrite.svg" height="40" class="mr-2">
  </ng-template>
  <ng-template pTemplate="end">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search">
    </span>
    <span *ngIf="!isAuthenticated">

        <button pButton label="Log in" routerLink="/login" class="p-button-outlined" icon="pi pi-lock"></button>
      <button pButton label="Sign up" icon="pi pi-sign-in"></button>
    </span>
    <span *ngIf="isAuthenticated">
    <button pButton label="Log out" icon="pi pi-power-off" (click)="logout($event)"></button>
    </span>
  </ng-template>

</p-menubar>
<div class="container">
  <router-outlet></router-outlet>

</div>
<div class="footer"></div>